// Primitive colors
color-black = #222
color-white = #eee
color-grey = #666
color-red = #e65e54
color-blue-darkest = #1c1e20

// Layout colors
color-bg = color-blue-darkest
color-ruler = mix(color-bg, color-grey, 50%)
color-box = lighten(color-bg, 5%)

// Semantic colors
color-primary = color-red

// Type colors
color-type-body = color-white
color-type-heading = color-white
color-type-link = color-primary

// Fonts
font-heading = 'Rleud', Helvetica, Arial, sans-serif
font-body = 'Rleud', Helvetica, Arial, sans-serif
font-special = 'Rleud', Helvetica, Arial, sans-serif
font-code = Monaco, monospace