// Primitive colors
color-black = #222
color-white = #eee
color-grey = #666
color-red = #e65e54
color-blue-darkest = #1c1e20

// Layout colors
color-bg = color-blue-darkest
color-ruler = mix(color-bg, color-grey, 50%)
color-box = lighten(color-bg, 5%)

// Semantic colors
color-primary = color-red

// Type colors
color-type-body = color-white
color-type-heading = color-white
color-type-link = color-primary

// Fonts
font-heading = 'Rleud', Helvetica, Arial, sans-serif
font-body = 'Rleud', Helvetica, Arial, sans-serif
font-special = 'Rleud', Helvetica, Arial, sans-serif
font-code = Monaco, monospace

// Layout
layout-page-width = 1000px

// Breakpoints
layout-breakpoint-mobile = 600px
layout-breakpoint-tablet = 768px
layout-breakpoint-display = 980px
layout-breakpoint-display-large = 1160px

// Media queries
layout-media-except-mobile = 'screen and (min-width:' + layout-breakpoint-mobile + ')'
layout-media-intermediate = 'screen and (min-width:' + (layout-breakpoint-mobile + 1) + ') and (max-width:' + layout-breakpoint-display-large + ')'
layout-media-mobile = 'screen and (max-width:' + layout-breakpoint-mobile + ')'
layout-media-tablet = 'screen and (min-width:' + (layout-breakpoint-mobile + 1) + ') and (max-width:' + layout-breakpoint-tablet + ')'
layout-media-display = 'screen and (min-width:' + (layout-breakpoint-tablet + 1) + ') and (max-width:' + layout-breakpoint-display + ')'
layout-media-display-large = 'screen and (min-width:' + (layout-breakpoint-display + 1) + ')'