header
    background lighten(color-bg, 5%)
    padding 15px 0
    margin-bottom 30px
    clearfix()

    a.logo
        color color-white
        float left

    nav
        float right

        ul
            debullet()