h1.center Dashboard

button(v-on='click: writing = true', v-if='!writing') + New note

.compose(v-if='writing')
    input.block(type='text', v-model='note.title', placeholder='title')
    textarea.block(v-model='note.text', placeholder='Text...')

    .right
        button.inverse(v-on='click: discard()') Discard
        button(v-on='click: save()') Save

ul.notes
    li.note(v-repeat='notes') {{ title || text }}