h2.center {{ note.title }}

hr

p.text {{ note.text }}

hr

.center
    a.button(href='#/edit/{{ note.id }}')
        i.icon-edit 
        |  Edit

    a.button.inverse(v-on='click: remove()')
        i.icon-times 
        |  Delete