h2.center {{ note.title }}

hr

p.text {{{ note.text | markdown }}}

hr

.center
    a.button(v-if='note', href='#/edit/{{ note.id }}')
        i.icon-edit 
        |  Edit

    a.button.inverse(v-if='note', v-on='click: remove()')
        i.icon-times 
        |  Delete

    br
    br